@import url(https://fonts.googleapis.com/css?family=Questrial);.site-color {
  background-color: #2c2f34 !important;
}

.site-color-text {
  color: #ffff !important;
}

.md-form input[type="date"]:focus:not([readonly]),
.md-form input[type="datetime-local"]:focus:not([readonly]),
.md-form input[type="email"]:focus:not([readonly]),
.md-form input[type="number"]:focus:not([readonly]),
.md-form input[type="password"]:focus:not([readonly]),
.md-form input[type="search-md"]:focus:not([readonly]),
.md-form input[type="search"]:focus:not([readonly]),
.md-form input[type="tel"]:focus:not([readonly]),
.md-form input[type="text"]:focus:not([readonly]),
.md-form input[type="time"]:focus:not([readonly]),
.md-form input[type="url"]:focus:not([readonly]),
.md-form textarea.md-textarea:focus:not([readonly]) {
  -webkit-box-shadow: 0 1px 0 0 #2c2f34 !important;
          box-shadow: 0 1px 0 0 #2c2f34 !important;
  border-bottom: 1px solid #2c2f34 !important;
}

.md-form input[type="date"]:focus:not([readonly]) + label,
.md-form input[type="datetime-local"]:focus:not([readonly]) + label,
.md-form input[type="email"]:focus:not([readonly]) + label,
.md-form input[type="number"]:focus:not([readonly]) + label,
.md-form input[type="password"]:focus:not([readonly]) + label,
.md-form input[type="search-md"]:focus:not([readonly]) + label,
.md-form input[type="search"]:focus:not([readonly]) + label,
.md-form input[type="tel"]:focus:not([readonly]) + label,
.md-form input[type="text"]:focus:not([readonly]) + label,
.md-form input[type="time"]:focus:not([readonly]) + label,
.md-form input[type="url"]:focus:not([readonly]) + label,
.md-form textarea.md-textarea:focus:not([readonly]) + label {
  color: #2c2f34 !important;
}

html,
body {
  overflow-x: hidden;
  height: 100%;
  width: 100%;
}
*:focus {
  outline: none;
}
.clickable {
  cursor: pointer;
}

.side-nav .collapsible a {
  font-size: 1.0rem;
}

.logo-wrapper {
  border: 0 !important;
}
.logo-wrapper img {
  padding-top: 11%!important;
  padding-bottom: 0!important;
}
.ck-editor__editable {
  min-height: 200px;
}
.content-wrapper {
  padding-left: 300px;
  padding-right: 50px;
  padding-top: 118px;
  height: 100%;
}

.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

.btn-custom {
  background-color: #2c2f34 !important;
  color: #ffff !important;
}

.btn-custom:active,
.btn-custom:hover {
  color: #ffff !important;
}
/*.side-nav .collapsible > li {*/
  /*padding: 9px;*/
/*}*/
.btn {
  border: 0 !important;
}

.btn:focus {
  outline: 0;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.custom-active {
  background-color: rgba(134, 134, 134, 0.15);
}

.navbar {
  height: 80px;
}

.navbar a {
  color: #ffff !important !important;
}

li a:hover {
  text-decoration: none;
}

.head-title {
  font-size: 1.2rem;
  line-height: 45px;
  margin-left: 5px;
}

.dropdown-item:hover {
  background-color: rgba(134, 134, 134, 0.15) !important;
}
.dropdown-content li > a, .dropdown-content li > span {
  color: #757575!important;
}
.select-wrapper input.select-dropdown {
  color: #757575!important;
}

@media only screen and (max-width: 1240px) {
  .content-wrapper {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 103px;
  }
}

