
// Body
$body-bg: #f5f8fa!important;
$site-color: #2c2f34!important;
$site-color-text: #ffff!important;
.site-color {
  background-color: $site-color;
}
.site-color-text{
  color: $site-color-text;
}


// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
